<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div th:insert="navbar.html"></div>
<div class="row justify-content-center">
<div class="col-6">
  <form action="/add-student" method="post">
      <div class="row mt-2">
          <div class="col-12">
              <label>NAME:</label>
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-12">
              <input type="text" name="name" class="form-control">
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-12">
              <label>SURNAME:</label>
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-12">
              <input type="text" name="surname" class="form-control">
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-12">
              <label>EXAM:</label>
          </div>
      </div>
      <div class="row mt-2">
          <div class="col-12">
              <input type="text" name="exam" class="form-control">
          </div>
      </div>

      <div class="row mt-2">
          <div class="col-12">
              <button class="btn btn-sm btn-success" type="submit">ADD STUDENT</button>
          </div>
      </div>

  </form>
</div>
</div>
</body>
</html>