<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
</html>
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <div th:insert="links.html"></div>
</head>
<body>
<div th:insert="navbar.html"></div>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EXAM</th>
        <th>MARK</th>
        <th>GROUP</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="st : ${studentter}" th:style="${st.exam > 50} ? 'color:green;' : 'color:red;'">
        <td th:text="${st.id}"></td>
        <td th:text="${st.name}"></td>
        <td th:text="${st.surname}"></td>
        <td th:text="${st.exam}"></td>
        <td th:text="${st.mark}"></td>
        <td th:text="${st.group}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>